body{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 50px;
    width: 100vw;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.52);
    align-items: center;
    
}    
