body {
  font-family: "Karla", sans-serif;
  margin-top: 35px;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: #e5eff5;
}
.conteiner {
  display: grid;
  grid-template-rows: 230px 250px;
  grid-template-columns: 340px 340px;
  grid-template-areas:
    "flex flex"
    "grid1 grid2 ";
  justify-content: center;
  align-content: center;
}

.flex {
  grid-area: flex;
  background-color: white;
  border-radius: 10px 10px 0px 0px;
  padding-left: 35px;
  line-height: 15px;
  margin-top: 35px;
  box-shadow: 5px -5px 5px 5px hsl(204, 43%, 93%);
}

.grid1 {
  grid-area: grid1;
  background-color: hsl(179, 62%, 43%);
  border-radius: 0px 0px 0px 10px;
  padding-left: 35px;
  padding-top: 25px;
  line-height: 25px;
  box-shadow: 5px 5px 5px 5px hsl(204, 43%, 93%);
}

.grid2 {
  grid-area: grid2;
  background-color: hsl(179, 72%, 46%);
  border-radius: 0px 0px 10px 0px;
  padding-left: 35px;
  padding-top: 25px;
  font-size: 13px;
  line-height: 10px;
  box-shadow: 7px 5px 5px 5px hsl(204, 43%, 93%);
}
#btn {
  background-color: hsl(71, 73%, 54%);
  text-align: center;
  font-size: 14px;
  width: 90%;
  height: 20%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 10px;
  border: none;
  color: #e5eff5;
}

#btn:hover {
  background-color: red;
  cursor: pointer;
  transition: all 0.3 ease-out;
}

.join {
  color: hsl(179, 62%, 43%);
}

.join:hover {
  color: rgb(10, 10, 10);
  transition: all 0.3 ease-out;
}
.day {
  color: hsl(71, 68%, 47%);
}
.day:hover{
  color: black;
}

.gain {
  color: gray;
  line-height: 25px;
}
.preço {
  font-size: 30px;
}
.preço:hover{
  color:red;
} 

h3 {
  font-size: large;
}

@media (max-width: 375px) {
  body {
    font-family: "Karla", sans-serif;
    font-size: small;
    margin-top: 0px;
    padding: 0;
    color: white;
    background-color: #e5eff5;
    width: 95vw;
    height: 98.6vh;
    justify-items: center;
  }

  .conteiner {
    display: flex;
    flex-direction: column;
  }
  .flex {
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    line-height: 13px;
    margin-top: 8px;
  }

  .grid1 {
    background-color: hsl(179, 62%, 43%);
    border-radius: 0px 0px 0px 10px;
    padding: 0px 30px 0px 30px;
  }

  .grid2 {
    background-color: hsl(179, 72%, 46%);
    border-radius: 0px 0px 10px 0px;
    padding: 0px 30px 0px 30px;
    font-size: 12px;
  }
  #btn {
    background-color: hsl(71, 73%, 54%);
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    width: 65%;
    height: 20%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: #e5eff5;
    margin-left: 35px;
    margin-bottom: 25px;
  }

  #btn:hover {
    background-color: red;
    cursor: pointer;
    transition: all 0.3 ease-out;
  }
  .preço {
    font-size: 20px;
  }
  h3 p {
    font-size: 13px;
  }
  .join {
    color: hsl(179, 62%, 43%);
    font-size: medium;
  }
  .join:hover {
    color: rgb(10, 10, 10);
    transition: all 0.3 ease-out;
  }
  .day {
    color: hsl(71, 73%, 54%);
    font-size: medium;
  }
  .gain {
    color: gray;
    font-size: 12px;
    line-height: 15px;
  }
}
