body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 100px 1110px 100px;
  gap: 5px;
}

.header {
  background-color: gray;
  grid-column: 1/4;
  grid-row: 1/2;
}

.main {
  background-color: gray;
  grid-column: 1/2;
  grid-row: 2/3;
}

.footer {
  background-color: gray;
  grid-column: 2/3;
  grid-row: 2/3;
}
.aside {
  background-color: gray;
  grid-column: 3/4;
  grid-row: 2/3;
}
